@charset "UTF-8";

/* Em html é id = em css é #
   Em html é class = em css .
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(51, 77, 49);
}

#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
} 


h2 {
    color:  rgb(4, 109, 0);
}

.basico {
   color: rgb(4, 109, 0);
}

.intermediario{
    color: rgba(8, 112, 4, 0.774);
    font-weight: lighter;
}

.avancado {
    color: rgb(11, 194, 5);
    font-weight: bold;
    font-style: italic;
}